vendor/
compiler/builds/
segments/Controllers/
segments/Models/*
!segments/Models/**/
!segments/Models/Traits/*
!segments/Models/Base/*
segments/Routes/
node_modules/
locker/system/app-structure.json
dist/
*.class
*.py[cod]
*.log
*.jar
target/
dist/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv